.signin-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  
  .signin-form {
    background-color: rgb(243, 243, 243);
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .signin-title {
    text-align: center;
    font-family: "Chango", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    font-size: clamp(1rem, 0.8rem + 1vw, 2rem);
    letter-spacing: 1px;
    letter-spacing: 1px;
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
  
  .signin-input {
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
  }
  
  .signin-button,
  .logout-button {
    margin-top: auto;
    padding: 0.6rem 1rem;
    background-color: var(--beige-color);
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .logout-button {
    background-color: #a18f6b;
  }
  
  .signin-button:hover {
    background-color: #a18f6b;
  }
  
  .logout-button:hover {
    background-color: #a18f6b;
  }
  
  .signin-error {
    color: #e53935;
    font-weight: bold;
    text-align: center;
  }
  
  .signin-success {
    color: #2e7d32;
    font-weight: bold;
    text-align: center;
  }
  