.product-container {
    background-color: var(--white-color);
    border-radius: 8px 8px 30px 30px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 2rem;
    margin: 1rem;
       
    .product-img {
        width: 200px;
        aspect-ratio: 3/3;
        object-fit: cover;
        border-radius: 20px;
    }

    h3 {
      font-size: 1.1rem;
      margin: 0.5rem 0;
      font-weight: 600;
    }

    p {
      font-size: 0.9rem;
      color: #555;
      margin-bottom: 0.3rem;
    }
    
    button {
        margin-top: auto;
        padding: 0.8rem 1.2rem;
        background-color: var(--beige-color);
        color: white;
        border: none;
        font-weight: 600;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.2s ease;
      }

      button:hover {
        background-color: #a18f6b;
      }


}

 