h2 {
    text-align: center;
    padding: 2rem;
    font-size: 1.3rem;
    font-size: clamp(1.3rem, 1.1400000000000001rem + 0.8vw, 2.1rem);
    font-family: "Monoton", sans-serif;
    font-weight: 500;
    text-shadow: 1px 1px 1px;
}


.product-container {
    background-color: var(--white-color);
    border-radius: 8px 8px 30px 30px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 2rem;
    margin: 1rem;
    
    
    
    .product-img {
        width: 200px;
        aspect-ratio: 3/3;
        object-fit: cover;
        border-radius: 20px;
    }





}