.header-container {
    position: relative;
    height: 35vh;
    overflow: hidden;
    background-image: url('../../assets/beachtennis.png');
    background-size: cover;
    background-position: center;
  }
  
  .header-top h1 {
    color: var(--beige-color);
    text-align: center;
    font-family: "Monoton", sans-serif;
    font-weight: 600;
    font-size: 2rem;
    font-size: clamp(2rem, 1.4rem + 3vw, 5rem);
  }
  
  .cart-img {
    position: fixed;
    width: 1.6rem;
    top: 18vh;
    cursor: pointer;
    z-index: 100;
    right: 2vh;
  }
  
  .header-middle {
    position: absolute;
    top: 15vh;
    left: 2vh;
    gap: 0.3rem;
    color: white;
    font-weight: 800;
    text-decoration: underline;
    font-size: 1rem;
    font-size: clamp(1rem, 0.9rem + 0.5vw, 1.5rem);
    cursor: pointer;

    p {
      margin-bottom: 0.4rem;
    }
  }


  .search-img {
    width: 1rem; 
     
  }
  
  .header-middle p:hover {
    color: var(--beige-color);
    font-weight: 800;
    font-size: 1.2rem;
  }

  .cart-icon-wrapper {
    position: relative;
  }
  
  .cart-count {
    position: fixed;
    right: 2vh;
    top: 16vh;
    background-color: var(--beige-color);
    color: var(--black-color);
    border-radius: 50%;
    padding: 2px 7px;
    font-size: 0.8rem;
    font-weight: bold;
    z-index: 999;
  }
  
  