.header-container {
  position: fixed;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 1rem 0rem; 
  z-index: 10;
}

  
  .header-top a {
    letter-spacing: 1px;
    color: var(--beige-color);
    text-decoration: none;
    font-family: "Chango", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    font-size: clamp(1rem, 0.8rem + 1vw, 2rem);
  }


.cart-admin-section {
  background-color: var(--beige-color);
  padding: 0.3rem 0.7rem;
  border-radius: 20px;
  cursor: pointer;

    img {
      margin: 0rem 0.5rem 0rem 0.5rem;
      width: 23px;
    }

  }


  .header-middle {
    display: flex;
    gap: 1rem;
    color: white;
    font-weight: 800;
    font-size: clamp(0.8rem, 0.7rem + 0.5vw, 1.3rem);
  }
  
  .header-middle p {
    margin-bottom: 0.5rem;
    font-weight: 800;
    transition: color 0.7s ease, transform 1.2s ease;
  }
  
  .header-middle p:hover {
    color: var(--beige-color);
    transform: scale(1.1);
  }
  
  .hero-img {
    width: 100%;
    height: clamp(250px, 50vw, 800px);
    object-fit: cover;
    background-size: cover;
    background-position: center;
    display: block;
  }
  
  .cart-img-wrapper {
    position: relative;
    display: inline-block;
  }

  .cart-count {
    position: absolute;
    top: -9px;
    background-color: var(--white-color);
    color: var(--black-color);
    border-radius: 50%;
    padding: 2px 7px;
    font-size: 0.6rem;
    font-weight: bold;
  }
  
section:last-of-type {
  position: relative;

    p {
      position: absolute;
      bottom: 5rem;
      left: 3rem;
      font-weight: 500;
    }

    .search-img {
      position: absolute;
      bottom: 5rem;
      right: 3rem;
      width: 1.2rem;  
    }

}

.search-input {
  position: absolute;
  bottom: 4.5rem;
  right: 3rem;
  margin-left: 2rem;
  font-size: 0.8rem;
  font-size: clamp(0.8rem, 0.7200000000000001rem + 0.3999999999999999vw, 1.2rem);
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 80vw;
  max-width: 300px;
}
  