.footer {
  background-color: rgb(29, 29, 29);
  padding: 2rem 1rem;
  margin: 0 auto;
  margin-top: 3rem;
  line-height: 1.6;
  color:white;

    .kart-ikon,.telefon-ikon {
      height: 17px;
      margin-right: 0.5rem;
    }
  }

  .footer-logo {
    font-family: "Chango", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--white-color);
    font-size: 1rem;
    font-size: clamp(1rem, 0.8rem + 1vw, 2rem);
    letter-spacing: 1px;
    margin-bottom: 0.5rem;
    text-align: center;
  }

  .footer-info {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;

    p {
      display: flex;
      margin-bottom: 1rem;
    }

  }

  .icons {
    display: flex;
    gap: 0.3rem;

        img {
          height: 23px;
        }
  }

  .footer-end {
    display: flex;
    
    
  }