.add-form {
    margin-bottom: 3rem;
    background: linear-gradient(135deg, #eeddcdc2, #f8f3e9cd);
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    padding: 2rem 0rem;

  }

  .form-h2 {
      text-align: center;
      font-size: 1.3rem;
      font-size: clamp(1.3rem, 1.1400000000000001rem + 0.8vw, 2.1rem);
      font-weight: bold;
      letter-spacing: 1px;
      margin-bottom: 2rem;
  
  }
  
  form {
    margin-bottom: 3rem;
  }
  
  .form-group {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
  }
  
  .form-group label {
    margin-bottom: 0.3rem;
    font-weight: bold;
  }
  
  input {
      padding: 0.7rem 2rem;
      border: 0.5px solid var(--beige-color);
      border-radius: 5px;   
  }

  select {
    padding: 0.5rem 0.3rem;
    border: 1px solid var(--beige-color);
    border-radius: 5px;
  }
  
  textarea {
    resize: vertical;
    padding: 3rem;
    border: 1px solid var(--beige-color);
    border-radius: 5px;
  }
  
 .edit-buttons {
    display: flex;
    justify-content: space-between;
    
    button:first-of-type {
      margin-top: auto;
      padding: 0.8rem 1.2rem;
      background-color: var(--beige-color);
      color: white;
      border: none;
      font-weight: 600;
      border-radius: 8px;
      cursor: pointer;
      transition: background-color 0.2s ease;
    }

    button:nth-of-type(2) {
      background-color: var(--white-color);
      padding: 0.8rem 1.2rem;
      border: none;
      font-weight: 600;
      border-radius: 8px;
      cursor: pointer;
      transition: background-color 0.2s ease;
    }

    button:hover {
      background-color: #a18f6b;
    }


 }
  
  p.error {
    width: max-content;
    font-size: 0.8rem;
    padding: 0.5rem;
    border-radius: 10px;
    font-weight: bold;
    border: 1px solid rgba(233, 48, 48, 0.493);
    color: red;
    margin: 0rem 0rem 1rem 3rem;
  }
  
  p.success {
    width: max-content;
    font-size: 0.8rem;
    padding: 0.5rem;
    border-radius: 10px;
    font-weight: bold;
    border: 1px solid rgba(94, 189, 73, 0.493);
    color: green;
    margin: 0rem 0rem 3rem 3rem;
  }

